@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

body {
  background: #121212;
  color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background: #1e1e1e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

header h1 {
  font-size: 2.5rem;
}

header h1 span {
  color: #ffd700;
}
header .logo {
  display: flex;
  align-items: center;
  width: 80px;
  height: 80px;
}

header .logo img {
  width: 100%;
  height: 100%;
}

.login-box {
  background: #2c3e50;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.login-box input {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem;
  width: 80%;
  border: none;
  border-radius: 5px;
}

.login-box button {
  background: #2ecc71;
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.error {
  color: #e74c3c;
}
