@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #121212;
  color: #fff;
  height: 100vh;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background: #1e1e1e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
header h1 {
  font-size: 2.5rem;
}

header h1 span {
  color: #ffd700;
}
header .logo {
  display: flex;
  align-items: center;
  width: 80px;
  height: 80px;
}

header .logo img {
  width: 100%;
  height: 100%;
}

.container {
  padding: 10rem 9% 2rem;
  overflow: hidden;
  width: 100%;
}

.container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.status.alert {
  color: #ff0000;
}

.status.safe {
  color: #2ecc71;
}

.waveform-container {
  background: #1e1e1e;
  border: 2px solid #2ecc71;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0;
}

canvas {
  width: 100%;
  height: 200px;
}

.confidence-container {
  margin-top: 20px;
}

.confidence-container p {
  font-size: 2.5rem;
}

.confidence-bar {
  width: 100%;
  height: 30px;
  background-color: #333;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 10px;
}

.confidence-fill {
  height: 100%;
  width: 0%;
  background-color: #2ecc71;
  transition: width 0.3s ease;
}

#confidenceText {
  font-size: 3rem;
  font-weight: 700;
}

.logout-btn {
  background: #ff0000;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
}